.heading{
font-size: 23px;
width: 100%;
margin: 0;
box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color: black;
    margin-bottom: 3px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width:100%;
    background-color:rgb(41, 57, 109);
    line-height:3;
    text-align: center;
}
canvas{
    border: 5px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}